/* src/App.css */
.App {
  font-family: 'Roboto Mono', monospace;
  direction: rtl;
  text-align: center;
  padding-bottom: 150px;
}

.search-bar input {
  width: 80%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 30px;
  outline: none;
  z-index: 1000;
}

.product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

